.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  border: solid violet;
  margin-inline: auto ;
}

@media(width >= 80em) {
  .container {
    --max-width: 80rem;
  }
}